<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>掲示板</title>
  </head>

  <body>
    <h1>ログイン</h1>

    <p>
      <%= err %>
    </p>

    <form action="/board" method="post">
      <label>
        名前
        <input type="text" name="name">
      </label>

      <label>
        パスワード
        <input type="text" name="pass">
      </label>

      <input type="submit" value="ログイン">
    </form>
  </body>

</html>
